# VB6 source files (show diff + keep CRLF in zip download)
*.bas        text=auto eol=crlf
*.cls        text=auto eol=crlf
*.ctl        text=auto eol=crlf
*.dob        text=auto eol=crlf
*.dsr        text=auto eol=crlf
*.frm        text=auto eol=crlf
*.pag        text=auto eol=crlf
*.vbg        text=auto eol=crlf
*.vbl        text=auto eol=crlf
*.vbp        text=auto eol=crlf
*.vbr        text=auto eol=crlf
 
# Other source files (show diff + LF only in zip download)

*.asm        text
*.asp        text
*.bat        text
*.c          text
*.cpp        text
*.dsp        text
*.dsw        text
*.h          text
*.idl        text
*.java       text
*.js         text
*.manifest   text
*.odl        text
*.php        text
*.php3       text
*.rc         text
*.sln        text
*.sql        text
*.vb         text
*.vbs        text

# Binary

*.frx        binary
*.ctx        binary
*.dsx        binary
*.exe        binary
*.dll        binary
*.ocx        binary
*.cmp        binary
*.pdb        binary
*.tlb        binary
*.xls        binary
*.doc        binary
*.ppt        binary
*.xlsx       binary
*.docx       binary
*.pptx       binary
*.chm        binary
*.hlp        binary
*.jpg        binary
*.png        binary
*.bmp        binary
*.gif        binary
*.ico        binary
*.zip        binary
*.cab        binary
*.7z         binary
*.vbw        binary

# Text files but keep as binary (no diff)

# *.cfg        text
# *.conf       text
# *.csi        text
# *.css        text
# *.csv        text
# *.def        text
# *.htm        text
# *.html       text
# *.inf        text
# *.ini        text
# *.log        text
# *.reg        text
# *.rtf        text
# *.txt        text
# *.url        text
# *.xml        text
